@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light dark;

		--color-accent:      349 89%  60%; /* rose.500 */
		--color-destructive:   0 84%  60%; /* red.500 */
		--color-primary:       0  0%   4%; /* neutral.950 */
		--color-secondary:     0  0%  45%; /* neutral.500 */
		--color-tertiary:      0  0%  64%; /* neutral.400 */
		--color-placeholder:   0  0%  83%; /* neutral.300 */
		--color-background:    0  0% 100%; /* white */
		--color-border:        0  0%  90%; /* neutral.200 */
	}

	*,
	::before,
	::after {
		@apply border-border;
	}

	::selection {
		@apply bg-accent text-white;
	}

	:focus-visible {
		@apply outline-2 outline-accent outline-offset-2;
	}

	body {
		@apply antialiased bg-background text-primary;
		-webkit-tap-highlight-color: transparent;
		text-rendering: optimizeLegibility;
	}

	svg:where([viewBox="0 0 24 24"]) {
		@apply shrink-0 h-[1em] w-[1em];
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-accent:      351 95%  71%; /* rose.400 */
			--color-destructive:   0 72%  51%; /* red.500 */
			--color-primary:       0  0% 100%; /* white */
			--color-secondary:     0  0%  64%; /* neutral.400 */
			--color-tertiary:      0  0%  32%; /* neutral.600 */
			--color-placeholder:   0  0%  25%; /* neutral.700 */
			--color-background:    0  0%   4%; /* neutral.950 */
			--color-border:        0  0%  15%; /* neutral.800 */
		}
	}
}

@layer utilities {
	@keyframes scale-and-fade-in {
		from { opacity: 0; transform: scale(.95); }
		to { opacity: 1; transform: scale(1); }
	}

	@keyframes scale-and-fade-out {
		from { opacity: 1; transform: scale(1); }
		to { opacity: 0; transform: scale(.95); }
	}
}
