@import 'tailwindcss';

@theme {
	--color-gray-50: var(--color-neutral-50);
	--color-gray-100: var(--color-neutral-100);
	--color-gray-200: var(--color-neutral-200);
	--color-gray-300: var(--color-neutral-300);
	--color-gray-400: var(--color-neutral-400);
	--color-gray-500: var(--color-neutral-500);
	--color-gray-600: var(--color-neutral-600);
	--color-gray-700: var(--color-neutral-700);
	--color-gray-800: var(--color-neutral-800);
	--color-gray-900: var(--color-neutral-900);
	--color-gray-950: var(--color-neutral-950);

	--color-accent: var(--color-rose-500);
	--color-primary: var(--color-neutral-950);
	--color-secondary: var(--color-neutral-700);
	--color-tertiary: var(--color-neutral-500);
	--color-background: var(--color-white);
	--color-border: var(--color-neutral-200);

	--animate-scale-and-fade-in: scale-and-fade-in 150ms cubic-bezier(.25, .75, .6, .98);
	--animate-scale-and-fade-out: scale-and-fade-out 75ms ease-out;

	@keyframes scale-and-fade-in {
		from { opacity: 0; transform: scale(.95); }
		to { opacity: 1; transform: scale(1); }
	}

	@keyframes scale-and-fade-out {
		from { opacity: 1; transform: scale(1); }
		to { opacity: 0; transform: scale(.95); }
	}
}

@layer base {
	:root {
		color-scheme: light dark;
	}

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
		@apply border-border outline-accent;
	}

	::selection {
		@apply bg-accent text-white;
	}

	:focus-visible {
		@apply outline-2 outline-offset-2;
	}

	body {
		@apply antialiased bg-background text-secondary;
		-webkit-tap-highlight-color: transparent;
		text-rendering: optimizeLegibility;
	}

	svg:where([viewBox="0 0 24 24"]) {
		@apply shrink-0 size-[1em];
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-accent: var(--color-rose-400);
			--color-primary: var(--color-white);
			--color-secondary: var(--color-neutral-300);
			--color-tertiary: var(--color-neutral-500);
			--color-background: var(--color-neutral-950);
			--color-border: var(--color-neutral-800);
		}
	}
}

@custom-variant prose {
	.prose & {
		@slot;
	}
}
